@{
    ViewBag.Title = "Tweet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Custom script*@
<script src="~/App_Scripts/TwitterGetScripts.js"></script>
@*Custom Style*@
<link href="~/Content/TwitterStyle.css" rel="stylesheet" />
@*googleapis*@
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&language=ar"></script>


<h2>ACME Social Portal</h2>
<div ng-app>
    <div ng-controller="TwitterController" style="width:50%">
        <div class="tweetst" ng-repeat="tweet in TwitterResponse.Tweets">
         
                <div class="picture">
                    <img src='{{tweet.User.ProfileImageUrl}}' alt="{{tweet.User.ScreenName}}" title="{{tweet.User.ScreenName}}" />
                </div>
                <div class="info">
                    <span>{{tweet.User.Name}}, {{tweet.User.Description}} - {{tweet.User.Location}} </span>
                    <br />
                    <a href="https://twitter.com/statuses/{{tweet.Id}}" class="text">
                        {{tweet.Text}}
                    </a>
                    <div class="action">
                        {{tweet.CreatedDate.AddHours(3).ToString("d/M/yyyy HH:mm:ss")}}
                        <a href="https://twitter.com/intent/tweet?in_reply_to={{tweet.Id}}" target="_blank">Reply</a> |
                        <a href="https://twitter.com/intent/retweet?tweet_id={{tweet.Id}}" target="_blank">Retweet</a> |
                        <a href="https://twitter.com/intent/favorite?tweet_id={{tweet.Id}}" target="_blank">Favorite</a>
                        @*|<a href="javascript:void(0)" ng-click="mapShow(tweet)" >Maps</a>   for Test*@
                        |<a href="javascript:void(0)" ng-click="mapShow(tweet)" ng-if="tweet.Location">Maps</a>
                    </div>
                </div>
            <div class="clear">

            </div>

                </div>

            </div>

        </div>
  @*This part for the map*@
<div id="PopUp" >
    <div id="map-canvas"></div>
</div>
<script type="text/javascript" >
      $(document).ready(function () {
          $("#PopUp").dialog({
                autoOpen: false,
                modal: true
            });
        });
    </script>

@*End Map*@


